.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.units {
  display: flex;
  flex-direction: column;
  margin: 20px;
  object-fit: scale-down;
}

.unit {
  margin: 5px;
  padding: 5px;
  background-color: lightgray;
  border: 1px solid black;
  cursor: grabb;
}

.unit-image {
  width: 55px;
  height: 55px; 
  padding-bottom: 4px;
  object-fit: scale-down;
  display: flex;
}

.terrain-image {
  width: 55px;
  height: 55px;
  object-fit: scale-down;
}

.terrain-tile {
  width: 55px;
  height: 55px;
  padding-right: 20px;
  padding-bottom: 10px;
  object-fit: contain;
}

.building-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.building-tile {
  width: 55px;
  height: 55px;
  object-fit: contain;
  padding-right: 20px;
  padding-bottom: 10px;
}

.health-bar {
  position: absolute;
  bottom: 1px; /* Justera för att placera över eller under enhetsbilden */
  left: 50%;
  transform: translateX(-50%);
  width: 85%; /* Justera bredden efter behov */
  height: 4px; /* Justera höjden efter behov */
  background-color: rgb(0, 0, 0); /* Färg för bakgrunden på livsmätaren */
  display: flex;
  align-items: center;
}

.health-bar-inner {
  height: 60%;
  margin-left: 1px;
  margin-right: 1px;
  background-color: rgb(2, 212, 2); /* Färg för själva livsmätaren */
}

.board-container {
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(12, 55px);
  grid-template-rows: repeat(12, 55px);
  gap: 4px;
}

.square {
  width: 55px;
  height: 55px;
  background-image: url('/images/grass.png');
  background-size: cover; /* Ser till att bilden täcker hela rutan */
  background-repeat: no-repeat; /* Förhindrar upprepning av bilden */
  background-position: center; /* Placerar bilden centrerad i rutan */
  border: 1px solid rgb(158, 157, 157);
  display: flex; /* Lägg till flex-egenskaper för att centrera innehåll */
  align-items: center; /* Centrerar innehåll vertikalt */
  justify-content: center; /* Centrerar innehåll horisontellt */
  position: relative; /* Behåller position för eventuellt absolut positionerat innehåll */
  z-index: 1;
}


.square.highlighted {
  background-color: rgb(105, 62, 223);
}

.square.attack-target {
  background-color: rgb(0, 0, 0);
}
